h1 {
    text-align: center;
    font-family: 'Yatra One', cursive;
    color: red;
}

body {
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKX3B6hYkdKLekFHvmeQ25MKjUN2D7KmGwEG-24Tq5fmvDe75k");
}

header {
    display: block;
}

.banner {
    right: auto;
    top: auto;
    display: inline-block;
    background-image: url("http://www.paramore.net/sites/g/files/g2000001591/f/styles/album_image_sidebar_v5/public/4a6563e0e31b5.jpg?itok=6ehnzCWz");
    background-size: auto;
    width: 100%;
    border: 3px solid crimson;
    color: crimson;
}

a:hover {
    color: aqua;
    display: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: crimson;
}

p {
    color: crimson;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    border: 5px solid crimson;
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTbUZxhzUZskWVSXV2MYR0gy1h7th7HTBaHKNmSzuXJJHVfcNc_");
    text-align: center;
}
